.container-dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(224, 224, 224);
  height: 100%;
  width: 100%;
  position: absolute;
}

.container-interno-dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #11132f;
  margin: 100px;

  width: 100% !important;
  box-shadow: 15px 20px 20px 20px rgb(0 0 0 / 25%);
  border: none;
  border-radius: 30px;
}

.container-interno-dashboard img {
  margin-top: 30px;
}

.container-interno-dashboard img:hover {
  transform: scale(1.05);
  transition: 0.5s ease-in-out;
}

.container-interno-dashboard button {
  margin: 0px 0 20px 0 !important;
}

.cards-dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 15px 50px 15px;
}

.card-dashboard {
  display: flex;
  background-color: #01aeef;
  margin: 20px;
  min-height: 300px;
  max-width: 250px;
  min-width: 250px;
  box-shadow: 1px 7px 7px 2px rgb(0 0 0 / 70%);
  border: none;
  border-radius: 30px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 10px 0 10px;
  flex-wrap: wrap;
  text-align: center;
}

.card-dashboard h2 {
  font-size: 30px;
  text-align: center;
  color: white;
  filter: drop-shadow(0 0 2rem rgba(0, 0, 0, 0.7));
}

.card-dashboard:hover {
  transform: scale(1.05);
  transition: 0.5s ease-in-out;
}

.customOverlay {
  background: rgba(0, 0, 0, 0.808) !important;
}
.customModal {
  background: #f0f0f0;
  max-width: 500px;
  width: auto;
  border-radius: 10px !important;
}

.container-modal {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: stretch;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

.container-modal button,
input {
  margin-top: 15px;
}

.container-modal p {
  margin-bottom: 15px;
  text-align: center;
}

@media (max-width: 950px) {
  .cards-dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .container-dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(224, 224, 224);
    height: auto;
    width: 100%;
    position: absolute;
  }
}
